<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>playbtn_achv.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>playbtn_board.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>playbtn_ctrl.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>55</integer>
		</dict>
		<key>playbtn_in_back.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>playbtn_list_back.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>74</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>playbtn_out_back.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
	</dict>
</dict>
</plist>